<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uee.cdbinet">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".bottomnav.Loan_Calculator"></activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".bottomnav.Deposit_Calculator"
            android:screenOrientation="portrait" />
        <activity android:name=".LandingActivity" />
        <activity android:name=".StopChequeActivity"></activity>
        <activity android:name=".MailComposeActivity" />
        <activity android:name=".ApplyAccount2Activity" />
        <activity android:name=".TransferReviewActivity" />
        <activity android:name=".TransferActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".PaySaveBillsReviewActivity" />
        <activity
            android:name=".PaySaveBillsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>